@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}

html{
    scroll-behavior: smooth;
}

.navbar{
    height: 7rem;
    display: flex;
    justify-content: space-between;
    max-width:80em;
    margin:auto;
    padding: 2em 0;
}

.logo{
    font-size: 1.2rem;
}

.nav ul li a{
    margin: 0 2rem;
    color: black;
}

ul{
    list-style-type: none;
}
a{
    text-decoration: none;
}