@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600;700&display=swap");

*{
    margin:0;
    padding:0;
    box-sizing: border-box;
}
body {
    font-family: "Poppins", sans-serif;
}
html{
    scroll-behavior: smooth;
}

.navbar{
    height: 7rem;
    display: flex;
    justify-content: space-between;
    max-width:80em;
    margin:auto;
    padding: 2em 0;
}

.logo{
    color:rgb(42, 21, 52);
    font-size: 1.2rem;
}

.nav ul li a{
    margin: 0 2rem;
    color: black;
}

ul{
    color:rgb(42, 21, 52);
    list-style-type: none;
}
a{
    text-decoration: none;
}

.about{
    display:flex;
    justify-content: space-between;
    max-width:80em;
    margin:auto;
    padding: 2em 0;
}


.title_about{
    color:rgb(42, 21, 52);
    font-size: 3.9rem;
}

.paragraph{
    margin:3rem 0;
    font-size: 2.9rem;
}
.paragraph_name{
    font-size: 2.9rem;
    color:rgb(95, 22, 131);
}
.social{
    display: flex;
    margin:3rem 0;
    justify-content: space-between;
    max-width: 100px;
}

.social-icon{
    font-size: 1.9rem;
}

.bx bxl-github:hover {
    color: white;
}
.about_img{
    background: linear-gradient(rgb(112, 112, 142), 10%, pink);
    width: 500px;
    height: 400px;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
}
.projects{
    display:flex;
    justify-content: space-between;
    flex-direction: column;
    max-width:80em;
    margin:auto;
    padding: 2em 0;
    

}

.title_projects
{
    color:rgb(42, 21, 52);
    position: relative;
    text-align: center;
}
h1:after
{
    position: absolute;
    content: '';
    width: 64px;
    height: 0.18rem;
    left: 0;
    right: 0;
    margin: auto;
    top: 2.8rem;
    background-color: black;

}

.projects_git{
    margin-top: 2.8rem;
}
.projects_img{
    margin: 2rem 3rem;
    width:320px;
    height: 200px;
    box-shadow: 0px 4px 25px rgba(14, 36, 49, 0.15);
    border-radius: .5rem;
    overflow: hidden;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 30px;
    height: 10rem;
    background-color: rgb(95, 22, 131)
}

.social-icon{
    color:black;
}

@media (max-width: 800px) {
    .navbar{
        max-width: 400px;
    }
    .about{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        max-width: 400px;
    }
    .left{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .paragraph
    {
        text-align: center;
    }
    .title_about{
        font-size: 1.9rem;
    }
    .paragraph{
        font-size: 1.9rem;
    }
    .paragraph_name{
        font-size: 1.9rem;
    }
    
    .about_img{
        width:250px;
        height: 250px;
    }
    .projects{
        max-width: 400px;
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .projects_git{
        display:flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
}
